name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present

    # Optional: Install pm2 if not already installed
    - run: |
        if ! command -v pm2 &> /dev/null
        then
            npm install -g pm2
        fi
    
    # Restart the backend process with pm2
    - run: pm2 restart backend
